.warehouse-data-container{
    position: fixed;
    top: 120px;
    left: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-y: scroll;
    width: 100%;
    height: 85%
    
}